---
layout: default
---

{% assign my = site.data.me %}
<div class="row" id="about">
    <header id="title">
        <img src="{{ my.avatar_img | relative_url }}">
        <h1>{{ my.name }} | <small>{{ my.job | upcase }}</small></h1>
    </header>

    <section id="intro">
        <h2>{{ my.hi }}</h2>
        {% for line in my.intro %}
        <p>{{ line }}</p>
        {% endfor %}
    </section>

    <section id="skillsets">
        <h2>NVH领域技术解决方案</h2>
        <p>中国汽研在汽车NVH领域拥有先进的软硬件设施、完善的开发流程、一流的技术团队和丰富的开发经验，以及汽车噪声振动和安全技术国家重点实验室等科研平台，可面向行业开展整车NVH与异响性能、主动噪声控制、声品质、路噪等工程开发与测评技术服务。同时，近年来深度聚焦异响产品化研究，已陆续在异响领域开发出系列工具装备产品及异响数据库，将有效解决汽车行业在异响开发及测评领域存在的关键与痛点问题。</p>
        <div><a href="https://mp.weixin.qq.com/s?__biz=MzIzMjUxMDIyOQ==&mid=2247495024&idx=1&sn=03f507960e383e34331fe96c552699ad&chksm=e8916b0adfe6e21c51b7733e86d42c7a2fd77c1c4517eb9e9d0959272de51e0ec1de9f7b1cb5&scene=21#wechat_redirect" target="_blank" title="整车路噪开发解决方案"><img src="/assets/img/微信图片_20220217075520.jpg" style="width:90%"></a>
        <a href="https://mp.weixin.qq.com/s?__biz=MzIzMjUxMDIyOQ==&mid=2247486921&idx=1&sn=e1083c4dde514c6d844b1589a9d7bad4&chksm=e8928bb3dfe502a54763db7487f1e02f058b26f5e922c8499fbc98a80f0b361f7f45bb13aa60&scene=21#wechat_redirect" target="_blank" title="耐久异响正向开发技术方案"><img src="/assets/img/微信图片_20220217075540.jpg" style="width:90%"></a>
        <a href="https://mp.weixin.qq.com/s?__biz=MzIzMjUxMDIyOQ==&mid=2247496212&idx=1&sn=0d0a53f366742791bf4f89e858e462f8&chksm=e891746edfe6fd78a5faa5b107188c23649b4be0d5a3d77bb1f52902f051a711d37315990bd0&scene=21#wechat_redirect" target="_blank" title="整车动力总成悬置系统NVH解决方案"><img src="/assets/img/微信图片_20220217075544.jpg" style="width:90%"></a>
        <a href="https://mp.weixin.qq.com/s?__biz=MzIzMjUxMDIyOQ==&mid=2247498030&idx=1&sn=cc56b1c7c8e6863a5ea8f20ebc3c517b&chksm=e8917f54dfe6f6420fef50c0aba04cbf718f5374ba2f26bd8eba4ebe1df7576013b1c65973d8&scene=21#wechat_redirect" target="_blank" title="用于整车耐久异响测评的阳光模拟能力构建"><img src="/assets/img/微信图片_20220217075548.jpg" style="width:90%"></a>
        <a href="https://mp.weixin.qq.com/s?__biz=MzIzMjUxMDIyOQ==&mid=2247487921&idx=1&sn=371eec610c18d1590f7442ab5f9cbdfb&chksm=e89297cbdfe51eddb22e811f5d6ea3d1746230c27fa2d707f6d6b976751ababe519160c54573&scene=21#wechat_redirect" target="_blank" title="基于降成本的声学包NVH开发解决方案"><img src="/assets/img/微信图片_20220217075551.png" style="width:90%"></a>
        <a href="https://mp.weixin.qq.com/s?__biz=MzIzMjUxMDIyOQ==&mid=2247486836&idx=1&sn=35de6ed4cfc1cb30061d731311b1020b&chksm=e8928b0edfe50218c2450a4ed3faebe6a8987364b69d5701f44f3f9ede1b706c62b46ebb3241&scene=21#wechat_redirect" target="_blank" title="异响正向开发技术方案"><img src="/assets/img/微信图片_20220217075556.png" style="width:90%"></a>
        </div>
    </section>

    <section id="findme">
        <h2>FIND ME ON</h2>
        <ul>
          {% for social in my.social %}
            <li><a href="{{ social.link }}"><i class=" {{ social.icon-class }}"></i></a></li>
          {% endfor %}
        </ul>
    </section>

    <section id="action">
        <h2>MORE</h2>
        <a href="{{ '/resume' | relative_url }}">Check out my resume</a>
    </section>
</div>