---
layout: default
---

{% assign my = site.data.me %}
<div class="row" id="about">
    <header id="title">
        <img src="{{ my.avatar_img | relative_url }}">
        <h1>{{ my.name }} | <small>{{ my.job | upcase }}</small></h1>
    </header>

    <section id="intro">
        <h2>{{ my.hi }}</h2>
        {% for line in my.intro %}
        <p>{{ line }}</p>
        {% endfor %}
    </section>

    <section id="skillsets">
        <h2>NVH领域技术解决方案</h2>
        <p>工程中心在汽车NVH领域拥有先进的软硬件设施、完善的开发流程、一流的技术团队和丰富的开发经验，以及汽车噪声振动和安全技术国家重点实验室等科研平台，可面向行业开展整车NVH与异响性能、主动噪声控制、声品质、路噪等工程开发与测评技术服务。同时，近年来深度聚焦异响产品化研究，已陆续在异响领域开发出系列工具装备产品及异响数据库，将有效解决汽车行业在异响开发及测评领域存在的关键与痛点问题。</p>
        <a href="http://www.baidu.com" target="_blank" title="整车路噪开发解决方案"><img src="/assets/img/微信图片_20220217075520.jpg"></a>
        <a href="http://www.baidu.com" target="_blank" title="耐久异响正向开发技术方案"><img src="/assets/img/微信图片_20220217075540.jpg"></a>
        <a href="http://www.baidu.com" target="_blank" title="整车动力总成悬置系统NVH解决方案"><img src="/assets/img/微信图片_20220217075544.jpg"></a>
        <a href="http://www.baidu.com" target="_blank" title="用于整车耐久异响测评的阳光模拟能力构建"><img src="/assets/img/微信图片_20220217075548.jpg"></a>
        <a href="http://www.baidu.com" target="_blank" title="基于降成本的声学包NVH开发解决方案"><img src="/assets/img/微信图片_20220217075551.png"></a>
        <a href="http://www.baidu.com" target="_blank" title="异响正向开发技术方案"><img src="/assets/img/微信图片_20220217075556.png"></a>
    </section>

    <section id="findme">
        <h2>FIND ME ON</h2>
        <ul>
          {% for social in my.social %}
            <li><a href="{{ social.link }}"><i class=" {{ social.icon-class }}"></i></a></li>
          {% endfor %}
        </ul>
    </section>

    <section id="action">
        <h2>MORE</h2>
        <a href="{{ '/resume' | relative_url }}">Check out my resume</a>
    </section>
</div>