# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\doctor\jekyll-theme-textalic-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
